body {
  background-color: rgb(110, 110, 110);
}

.nav-bar-font {
  font-family: "Chonburi";
  font-size: 18pt;
}
#cart {
  display: none;
}
#check-out {
  display: none;
}

.card-body {
  display: grid;
}

#car-image {
  width: 260px;
}

/* #check-out {
  border: none;
} */

.template-body {
  display: block;
}

@media screen and (min-width: 800px) {
  .card-body {
    grid-template-columns: 1fr 1fr;
  }
  #car-image {
    width: 500px;
  }
}
