body {
  background-color: rgb(110, 110, 110);
}

.nav-bar-font {
  font-family: "Chonburi";
  font-size: 18pt;
}
#checkout-link {
  display: none;
}
#cart {
  display: none;
}

#check-out {
  display: none;
}

.card-body {
  display: grid;
}

#car-image {
  width: 260px;
}

.template-body {
  display: block;
}
/* FOR LAPTOPS AND TABLETS */
@media screen and (min-width: 1000px) {
  .card-body {
    grid-template-columns: 1fr 1fr;
    margin: 20px;
  }
  #car-image {
    width: 500px;
  }
}

/* FOR SMALL TABLETS AND PHONES */
@media screen and (max-width: 375px) {
  .card-body {
    grid-template-columns: 1fr;
    margin-left: 12px;
    margin-right: 12px;
  }
  #car-image {
    width: 225px;
  }
  html {
    font-size: 12px;
  }
}
